<div class="container white-bg fill" ng-class="{{pageClass}}">

    <div class="row white-bg">
        <div class="col-xs-12">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <div class="col-xs-6">
                            <div class="col-xs-6 grey-bg icon-holder text-center">
                                <img src="assets/img/8792.png">
                                <span class="credit" ng-class="(thisQuestion.credits >= 10) ? 'bigger10': null">{{thisQuestion.credits}}</span>
                            </div>
                            <div class="col-xs-6 grey-bg icon-holder text-center">
                                <img src="assets/img/8793.png">
                                <span class="bonus" ng-class="(thisQuestion.bonus > 10) ? 'bigger10': null" ng-bind="thisQuestion.bonus"></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <img class="question-type" src="{{catIcon}}" style="background-color:{{catColor}}" />
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="question intro-bg">
            <h3 class="white-color" ng-class="(lang == 'he') ? 'rtl': ''">{{thisQuestion.questionDesc}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!--multi-->
            <ul class="answers list-decimal" ng-class="(lang == 'he') ? 'rtl': ''" ng-show="multipleAnswers">
                <li class="answer" ng-repeat="answer in answerDesc">
                    <input type="checkbox" name="{{answer}}" class="multiple" /><label for="{{answer}}" data-id="multi_{{answersIds[$index]}}" ng-click="checkMultiAnswer(answer, 'multi_'+answersIds[$index])">{{$index + 1}}. {{answer}}</label>
                </li>
            </ul>

            <!--one answer-->
            <ul class="answers list-decimal" ng-class="(lang == 'he') ? 'rtl': ''" ng-show="oneAnswer">
                <li class="answer" ng-repeat="answer in answerDesc">
                    <input type="radio" name="one-answer" class="one-answer" data-answer="{{answer}}" /><label data-id="one_{{answersIds[$index]}}" ng-click="checkOneAnswer('one_'+answersIds[$index])">{{$index + 1}}. {{answer}}</label>
                </li>
            </ul>

            <!--yes no-->
            <ul class="answers list-decimal" ng-class="(lang == 'he') ? 'rtl': ''" ng-show="yesOrNo">
                <li class="answer" ng-repeat="answer in answersIds" ng-click="checkAnswer(answer)">{{$index + 1}}. {{answerDesc[$index]}}</li>
            </ul>

            <!--order-->
            <ul class="answers list-decimal" ng-class="(lang == 'he') ? 'rtl': ''" ng-show="order">
                <li class="answer" ng-repeat="answer in answersIds" ng-click="checkAnswer(answer)">{{$index + 1}}. {{answerDesc[$index]}}</li>
            </ul>
        </div>
    </div>

</div>

<footer>
    <div class="container white-bg">
        <div class="row actions">
            <div class="col-xs-12">
                <div class="helpers text-right">
                    <img src="assets/img/3887.png" />
                    <img src="assets/img/megnifer.png" />
                    <img src="assets/img/safe weel.png" />
                </div>
                <div class="ok">
                    <button ng-click="checkAnswer()">ok</button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="gcse-search" data-newWindow="true" data-queryParameterName="search"></div>
            </div>
        </div>
    </div>
</footer>