@media screen and (min-width:300px) and (max-width:319px)
{
    /*#region Question*/
    .credit
    {
        left: 0;
        top: 0;
    }

        .credit.bigger10
        {
            left: 2.4em;
            top: 1.2em;
        }

    .bonus
    {
        left: 2.5em;
        top: 1.4em;
    }

    .icon-and-recent {
        height:50px;
    }

    /*#endregion*/

    /*#region Wheel*/
    .circle-container img
    {
        width: 25%;
        top: 36.2%;
        left: 38%;
    }

    .circle-container.he img
    {
        width: 25%;
        top: 36.2%;
        left: 35%;
    }

    #wheel
    {
        right: -1.5%;
        width: 270px;
        height: 270px;
    }

    .he #wheel
    {
        right: 4%;
    }
    /*#endregion*/

    /*#region Language*/

    .big-to-small
    {
        -webkit-animation-name: bigToSmall; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
        -moz-animation-name: bigToSmall;
        -o-animation-name: bigToSmall;
        animation-name: bigToSmall;
        -moz-animation-duration: 3s;
        -o-animation-duration: 3s;
        animation-duration: 3s;
    }

    @-webkit-keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    @-moz-keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    @keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    [alt="logo"]
    {
        width: 70%;
    }

    .popup-language
    {
        height: 18%;
        top: 54%;
    }

    /*#endregion*/
}

@media screen and (min-width:320px) and (max-width:359px)
{

    /*#region Question*/
    .bonus
    {
        left: 2.1em;
        top: 1.2em;
    }

        .bonus.bigger10
        {
            left: 1.85em;
        }

    .credit
    {
        left: 2.1em;
        top: 1.2em;
    }

        .credit.bigger10
        {
            left: 1.9em;
            top: 1.1em;
        }

    /*.answers {
        height: 315px;
    }*/

    .organization.corrent, .organization.wrong
    {
        top: 36%;
        right: -30%;
    }

    .popup-google
    {
        /*height: 25%;*/
        top: 69%;
    }

        .popup-google p, .popup-google button
        {
            top: 45%;
        }

        .popup-google button
        {
            top: 27%;
        }

    .popup-intro-5sec, .popup-5sec
    {
        top: 56%;
    }

    /*#endregion*/

    /*#region Wheel*/
    .circle-container img
    {
        width: 18%;
        top: 36.5%;
        left: 35.8%;
    }

    .circle-container.he img
    {
        width: 18%;
        top: 36.5%;
        left: 39.5%;
    }

    #wheel
    {
        right: -8.2%;
        width: 210px;
        height: 210px;
    }

    .he #wheel
    {
        right: 15.5%;
    }

    [alt="Brand"]
    {
        width: 50%;
    }

    #wheelTitle
    {
        margin-bottom: -17px;
    }
    /*#endregion*/

    /*#region Language*/

    .big-to-small
    {
        -webkit-animation-name: bigToSmall; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
        -moz-animation-name: bigToSmall;
        -o-animation-name: bigToSmall;
        animation-name: bigToSmall;
        -moz-animation-duration: 3s;
        -o-animation-duration: 3s;
        animation-duration: 3s;
    }

    @-webkit-keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    @-moz-keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    @keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    [alt="logo"]
    {
        width: 70%;
    }

    .popup-language
    {
        height: 18%;
        top: 57%;
    }

        .popup-language.setting-page
        {
            top: 31%;
        }

    /*#endregion*/

    /*#region Settings*/

    .popover
    {
        top: 30% !important;
        left: 15% !important;
    }

    /*#endregion*/
}

@media screen and (min-width:320px) and (min-height:533px)
{
    .popup-language
    {
        height: 17%;
        top: 52%;
    }

        .popup-language.setting-page
        {
            top: 28%;
        }

    /*.answers {
        height: 248px !important;
    }*/
}

@media screen and (min-width:320px) and (min-height:568px)
{
    .popup-language
    {
        height: 17%;
        top: 50%;
    }

        .popup-language.setting-page
        {
            top: 26%;
        }

    .popup-google
    {
        top: 72%;
    }

    /*.answers {
        height: 280px !important;
    }*/
}

@media screen and (min-width:320px) and (min-height:640px)
{
    .popup-language
    {
        height: 14%;
        top: 44%;
    }

        .popup-language.setting-page
        {
            top: 23%;
        }

    .popup-google
    {
        top: 75%;
    }

    /*.answers {
        height: 390px !important;
    }*/
}

@media screen and (min-width:360px) and (min-height:640px)
{
    .popup-language
    {
        height: 14%;
        top: 44%;
    }

        .popup-language.setting-page
        {
            top: 20%;
        }

    .language
    {
        font-size: 115%;
    }

    .popup-google
    {
        top: 74%;
    }

}

@media screen and (min-width:360px) and (max-width:400px)
{
    /*#region Question*/
    .credit
    {
        left: 0;
        top: 0;
    }

        .credit.bigger10
        {
            left: 2.4em;
            top: 1.2em;
        }

    .bonus
    {
        left: 2.5em;
        top: 1.4em;
    }

    .organization.corrent, .organization.wrong
    {
        top: 11%;
        right: -28%;
    }

    .popup-google:before
    {
        height: 21%;
        top: 76%;
        left: 6%;
    }

    .popup-google p, .popup-google button
    {
        top: 38%;
    }

    .popup-google button
    {
        top: 29%;
    }

    .popup-intro-5sec, .popup-5sec
    {
        top: 56%;
    }

    /*#endregion*/

    /*#region Wheel*/
    .circle-container img
    {
        width: 23%;
        top: 37.5%;
        left: 38.4%;
    }

    .circle-container.he img
    {
        width: 23%;
        top: 36.8%;
        left: 37.8%;
    }

    #wheel
    {
        right: -3%;
    }

    .he #wheel
    {
        right: 4%;
    }

    [alt="Brand"]
    {
        width: 47%;
    }
    /*#endregion*/

    /*#region Language*/

    .big-to-small
    {
        -webkit-animation-name: bigToSmall; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
        -moz-animation-name: bigToSmall;
        -o-animation-name: bigToSmall;
        animation-name: bigToSmall;
        -moz-animation-duration: 3s;
        -o-animation-duration: 3s;
        animation-duration: 3s;
    }

    @-webkit-keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    @-moz-keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    @keyframes bigToSmall
    {
        from
        {
            width: 90%;
            margin-top: 85%;
        }

        to
        {
            width: 70%;
            margin-top: 5%;
        }
    }

    [alt="logo"]
    {
        width: 70%;
    }

    .popup-language
    {
        height: 15%;
        top: 49%;
    }

        .popup-language.setting-page
        {
            top: 26%;
        }
    /*#endregion*/

}

@media screen and (min-width:320px) and (max-width:480px)
{

    .popup-intro-5sec, .popup-5sec
    {
        top: 62%;
    }
}

@media screen and (min-height:480px)
{
    .final-name-and-score
    {
        margin: 32% 0 0 0;
    }

    .final-footer button
    {
        margin-bottom: 4%;
    }
}

@media screen and (max-height:533px)
{
    #register-form
    {
        margin-top: 8%;
    }
}
